1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "041104b0"
	{
		VALUE "FileDescription", "MIDI Music Editing Software"
		VALUE "FileVersion", "1.43"
		VALUE "InternalName", "Domino"
		VALUE "LegalCopyright", "Copyright (C) 2007-2013 Takabo Soft"
		VALUE "OriginalFilename", "Domino.exe"
		VALUE "ProductName", "Domino"
		VALUE "ProductVersion", "1.43"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0411 0x04B0  
}
}
